div {
  /* background-color: rgb(166, 93, 197); */
  text-align: start;
  /* width: 500px;
  height: 500px; */
  /* border-radius: 50%; */
  /* margin-left: 100px; */
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
  /* font-family: "Dancing Script", cursive;
  font-size: 25px;
  padding-left: 150px; */
}

/* section {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
} */

/*selector de clase*/
.my-first-class {
  font-size: 50px;
}

.color-turquesa {
  color: turquoise;
}

#parrafo1 {
  background-color: plum;
}

/* #parrafo1 > button {
  background-color: coral;
}

#parrafo1 > div > button {
  border-radius: 50%;
  color: aliceblue;
} */

/* button:first-child {
  background-color: blueviolet;
} */

/* button:nth-child(1) {
  background-color: cyan;
} */

/* div > button {
  width: 100px;
  height: 100px;
} */
.primera-clase,
.segunda-clase {
  font-size: 20px;
}

.primera-clase {
  color: red;
}

.segunda-clase {
  color: blue;
}

* {
  margin: 0;
  padding: 0;
}

.fondo-morado {
  background-color: blueviolet;
  font-size: 20px;
  padding: 25px;
  color: white;
  margin: 20px;
  border: 30px solid magenta;
  border-radius: 10px;
}

#primer-parrafo {
  color: deeppink;
  line-height: 100px;
  letter-spacing: 10px;
  word-spacing: 100px;
}

.text-centrado {
  text-align: center;
  font-size: 50px;
}

#clase-1 {
  font-size: 100px;
  color: blue;
  text-shadow: 4px 6px 15px aqua;
  /*sombras que tan a la derecha que tan abajo y 
  y que tanta profundidad o alejado esara la sombre en forma
  tridimensional*/
  /* font-weight: 900; */
}

#clase-2 {
  color: green;
}

#clase-3 {
  color: yellow;
}

#clase-4 {
  color: black;
}

#clase-5 {
  color: red;
}

.inline {
  display: inline;
}

#clase-1 {
  display: none;
}
