table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}

.color-yellow,
td strong {
  color: rgb(255, 205, 0);
}

.color-red {
  color: red;
}

td {
  color: green;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
}
