.container {
  width: 700px;
  margin: auto;
  background-color: blueviolet;
  position: relative;
  z-index: 10;
}

.container:hover {
  z-index: 4;
}

.mensaje {
  background-color: white;
  color: black;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 24.4%;
  width: 700px;
  z-index: 5;
}

.tapa {
  height: 200px;
  z-index: 10;
}

.contenido {
  height: 400px;
  z-index: 10;
}

.cinta {
  width: 700px;
  height: 600px;
  position: absolute;
  top: 0;
  z-index: 10;
}
